<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="<%- url_for('/') %>"><%= config.title %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% for (var i in theme.nav) { %>
        <% let active = is_current(theme.nav[i]); %>
        <li class="nav-item <%- active ? 'active' : '' %>">
          <a class="nav-link" href="<%- url_for(theme.nav[i]) %>"><%= __('nav.'+i).replace("nav.", "") %> <%- active ? '<span class="sr-only">(current)</span>' : '' %></a>
        </li>
      <% } %>
    </ul>
    <form class="form-inline my-2 my-lg-0" action="//google.com/search" method="GET" accept-charset="UTF-8">
      <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search">
      <input type="hidden" name="sitesearch" value="https://cadscheme.co.uk/">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>