<% if (is_year() === false) { %>
  <div class="section">
    <%- partial("partials/list-post", {
      posts: page.posts.sort('date', -1)
    }); %>

    <%- partial("partials/paginator"); %>
  </div>

  <div class="section">
    <div class="card-deck">
      <div class="card">
        <div class="card-header">
          Categories
        </div>
        <ul class="list-group list-group-flush">
          <% site.categories.forEach(cat => { %>
            <a class="list-group-item" href="<%= url_for(cat.path) %>"><%= cat.name %></a>
          <% }); %>
        </ul>
      </div>
      <div class="card">
        <div class="card-header">
          Tags
        </div>
        <ul class="list-group list-group-flush">
          <% site.tags.forEach(tag => { %>
            <a class="list-group-item" href="<%= url_for(tag.path) %>"><%= tag.name %></a>
          <% }); %>
        </ul>
      </div>
      <div class="card">
        <div class="card-header">
          Archives
        </div>
        <%
          const posts = site.posts.sort("date", -1);

          const data = [];
          let length = 0;

          posts.forEach(post => {
            let date = post.date.clone();

            if (config.timezone) date = date.tz(config.timezone);
            if (config.language) date = date.locale(config.language);

            const year = date.year();
            const month = date.month() + 1;
            const name = date.format("YYYY");
            const lastData = data[length - 1];

            if (!lastData || lastData.name !== name) {
              length = data.push({
                name,
                year,
                month,
                count: 1
              });
            } else {
              lastData.count++;
            }
          });
        %>
        <ul class="list-group list-group-flush">
          <% data.forEach(archive => { %>
            <%
              let url = `${config.archive_dir}/${archive.year}/`;

              if (archive.month < 10) url += 0;
              url += `${archive.month}/`;
            %>
            <a class="list-group-item" href="<%= url %>"><%= archive.name %> <span class="badge badge-primary"><%= archive.count %></span></a>
          <% }) %>
        </ul>
      </div>
    </div>
  </div>
<% } else { %>
  <%- partial("partials/list-post", {
    posts: page.posts
  }); %>

  <%- partial("partials/paginator"); %>
<% } %>
