<!DOCTYPE html>
<html lang="en">
<%- partial('_partial/head') %>
<style>
  html, body { margin: 0; height: 100%; }
</style>
<body>
  <div class="content">
      <%- partial('_partial/header') %>

      <%- body %>
  </div>
  <%- partial('_partial/footer') %>
  
  <%- partial('_partial/scripts') %>
</body>
</html>

