<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"><%= pageTitle %></h1>
    <% if (is_post()) { %>
      <% if (page.date) { %>
        <p class="lead meta-item">
          <i class="fas fa-calendar-alt fa-fw"></i> &nbsp; Published <%= full_date(page.date); %>
        </p>
      <% } %>
      
      <p class="lead meta-item">
        <i class="fas fa-stopwatch fa-fw"></i> &nbsp; <%= readingTime(page.content) %>
      </p>

      <% if (page.categories && page.categories.length) { %>
        <p class="lead meta-item">
          <i class="fas fa-cubes fa-fw"></i> &nbsp; <%- list_categories(page.categories, {
            show_count: false,
            style: 'link'
          }); %>
        </p>
      <% } %>

      <% if (page.tags && page.tags.length) { %>
        <p class="lead meta-item">
          <i class="fas fa-tags fa-fw"></i> &nbsp; <%- list_tags(page.tags, {
            show_count: false,
            style: 'link'
          }); %>
        </p>
      <% } %>
    <% } %>
  </div>
</div>